/* ===== FONT ===== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* ===== RESET & BASE STYLES ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto500", sans-serif;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 16px;
}

.card-daniel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dbdbdb;
  color: #161515;
}

.card-jane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dbdbdb;
  color: #161515;
}

.card-john {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dbdbdb;
  color: #161515;
}

.card-emma {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #dbdbdb;
  color: #161515;
  grid-column: 1 / -1;
}
